<section>
  <h3 class="pageTitle">Update Inventory({{hunter.fName}}:{{supply.sName}})</h3>
</section>
  
<section class="m-3">
	<form class="p-4"  action="/inventory" method="POST">
		<legend class="form-legend">Enter data to add a row</legend>
		<div class="column col-sm-2">
			<div class="form-floating">
				<input type="number" class="form-control" name="quantity">
				<label for="floatingInput">Quantitiy</label>
			</div>
		</div>
	</form>
	<div class="col-sm-2">
        <button class="btn btn-primary btn-sm" onclick="updateInventory({{hunter.hunterID}}, {{supply.supplyID}})">Submit</button>
     </div>
</section>