table{
    border-style:double;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border-bottom: 1px solid;
    padding: 10px;
    text-align: center;
  }


section{

    padding: 5px;
    margin:10px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    list-style-type: none;
}

.nav-item a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
}
